<div class="call-to-action">
    <div class="text-column">
      <div class="title">
        <h1>Conectando Vizinhos,<br /> Construindo Comunidades <br /> Mais Fortes</h1>
      </div>
    </div>
    <div class="subtitle">
        <p>Descubra os talentos e serviços que os seus vizinhos podem oferecer. Faça parte do VizinHelp e venha colaborar conosco!</p>
        <div class="button-column">
            <button mat-button class="custom-mat-button">Faça Parte</button>
            <button mat-button class="custom-mat-button">Saiba Mais</button>
          </div>
    </div>
    
  </div>
  