.footer {
    border-top: 1px solid black;
    padding-top: 2%px; /* ajuste conforme necessário */
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:1px;
    margin-top: 5%;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5% 0;
    text-decoration: none;
    color: black;
  }

  a{
    text-decoration: none; /* Remove o sublinhado */
  color: inherit;
  }