<ng-container *ngIf="oferta">
  <h1 class="titulo">{{ oferta.title }}</h1>
  <div class="subtitle">Categoria: {{ oferta.category }}</div>

  <div class="detalhes-oferta">
    <img class="imagem-oferta" [src]="oferta.image_url" alt="Imagem da Oferta">

    <!-- Grid com descrição e informações -->
    <div class="grid">
      <!-- Descrição da oferta -->
      <div class="coluna-descricao">
        <h2 class="subtitulo">Descrição</h2>
        <p>{{ oferta.description }}</p>
      </div>

      <!-- Informações da oferta -->
      <div class="coluna-informacoes">
        <h2 class="subtitulo">Informações</h2>
        <ul>
          <li><strong>Onde:</strong> {{ endereco?.logradouro }}</li>
          <li><strong>Quando:</strong> {{ oferta.availability }}</li>
          <li><strong>Quantidade:</strong> {{ oferta.capacity }}</li>
          <li><strong>Requisitos:</strong> {{ oferta.requirements }}</li>
        </ul>
      </div>
    </div>
  </div>

  <app-offer-interest [offerId]="idOferta"></app-offer-interest>
</ng-container>
