.navbar {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho do texto */

  }

  .custom-toolbar {
    height: 100px;
    background-color: #4A6B37;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:5%;
    padding-left:5%;
    .logo {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: white;
      line-height: 120%;
      padding-right:5%;
      cursor: pointer;
    }
    
  
    .menu-items {
      font-family: 'Roboto Regular', sans-serif;
      font-size: 16px;
      color: white;
      display: flex;
      align-items: center;
      
      .menu-item {
        margin-right: 20px;
        cursor: pointer;
      }
    }
  

  
    .fill-space {
      flex: 1 1 auto;
    }
  }

  .auth-buttons {
    display: flex;
    align-items: center;
  }

  [mat-button].custom-mat-button{
    background-color: var(--color-primary);
    color:  var(--color-primary-text);

}
  .active {
    border-bottom: 4px solid #ffffff; /* Cor da linha */

  }