/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #DEDEDE;
}
:root {
    --color-primary: #DEDEDE;
    --color-secondary: #4A6B37;
    --color-primary-text: #000;
    --color-secondary-text: #ffffff;


  }

[mat-button].custom-mat-button {
  height: 40px;
  font-size: 16px;
  padding: 0 16px;
  background-color: var(--color-primary);
  border-radius: 0;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  margin-right: 16px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important; /* Define o fundo como transparente */
  border-radius: 0;
  border: 1px solid black;
}
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: #000000 !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: #4A6B37 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: #000000 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #000000 !important;
}

.mat-mdc-form-field-type-mat-input.ng-invalid {
  /* Adicione aqui os estilos para os campos inválidos */
  border-color: rgb(38, 156, 180)!important; /* Por exemplo, altera a cor da borda para vermelho */
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #4A6B37 !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-line-ripple::before
{
  border-bottom-color: #4A6B37 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused {
  outline-color: #4A6B37 !important; /* Define a cor do contorno quando o campo está focado */
  /* ou */
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #4A6B37 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #4A6B37 !important;
}

.mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
  cursor: default;
  pointer-events: none;
  color: #fff;
  background-color: #4a6b3777 !important;
  border-radius: 0;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #4A6B37 !important;
  border: 1px solid black;
  border-radius: 0;
  color: #fff;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
