
<div class="session">
    <form [formGroup]="form" (ngSubmit)="submitInterest()" #interestForm="ngForm">
        <div fxLayout="column">
            <mat-form-field class="full-width">
                <mat-label>Nome:</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email:</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Mensagem:</mat-label>
                <textarea matInput formControlName="message" rows="5" required></textarea>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="interestForm.invalid" type="submit">Registrar Interesse</button>
    </form>
</div>
